<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="shortcut icon" type="image/png" href="https://drive.google.com/uc?id=1gSe-v4qfUHP_vrhCQMg0RSmkOYpbbzT6&png">
        <meta charset="UTF-8" />
        <title>感想機</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <link th:href="@{/css/index.css}" rel="stylesheet">
    </head>
    <body>
      <div id="main">loading...</div>
      <script type="text/javascript" th:src="@{/js/view.js}"></script>
      <script type="text/javascript" th:src="@{/js/api.js}"></script>
      <script>
        const classId = getParam("class");
        window.onload = function(){
          if(classId == null){

          } else{
            $.post("/class", {classId: classId}, function(data){
              console.log(data);
              writePage(data);
            });
          }
        }
        function getParam(name) {
          const params = $(location).attr("search");
          var paramData = {}
          for(let param of params.slice(1).split("&")){
            if(param != ""){
              let parameters = param.split("=");
              paramData[parameters[0]] = parameters[1];
            }
          }
          return paramData[name];
        }
      </script>
    </body>
</html>